@model Visitor
@{
    ViewData["Title"] = "CheckedIn";
}

<div class="row">
    <div class="col-md-6">
        <form method="post" asp-controller="Visitor" asp-action="Create">

            <div class="form-group">
                <label asp-for="@Model.FirstName"></label>
                <input asp-for="@Model.FirstName" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="@Model.LastName"></label>
                <input asp-for="@Model.LastName" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="@Model.Company"></label>
                <input asp-for="@Model.Company" class="form-control" />
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>

        </form>

    </div>
</div>