@model List<Visitor>
@{
    ViewData["Title"] = "CurrentVisitorsView";
}

<div class="row">

    <div class="col-md-6">
        <div class="vertical-menu">
            <a href="@Url.Action("History", "Visitor")">
                <span>History</span>
            </a>
            <a href="@Url.Action("CurrentVisitors", "Visitor")" class="active">
                <span>Current Visitors</span>
            </a>
            <a href="@Url.Action("Index", "Visitor")">
                <span>Check in visitor</span>
            </a>
            <a href="@Url.Action("LogOut", "Account")">Log Out</a>
        </div>
    </div>

    <div class="col-md-6">
        <p style="font-size: 20px">
            <b>Visitors checked in now</b>
        </p>
        @foreach (Visitor visitor in Model)
    {
        if (visitor.CheckInTime > visitor.CheckOutTime)
        {
        <div class="col-md-12">
            <div class="col-md-6">
                <p> Name: @visitor.FirstName @visitor.LastName</p>
                <p> Id: @visitor.RandomNumber</p>
                <p> Check In: @visitor.CheckInTime </p>
            </div>
            <div class="col-md-6">
                <img src="~/visitorPhotos/@(visitor.RandomNumber).jpg" width="200px" align="right" />
            </div>
        </div>
            <br/>
        using (Html.BeginForm("CheckOut", "Visitor"))
        {
            <input type="hidden" name="RandomNumberInput" value="@visitor.RandomNumber" />
            <input class="btn btn-xs btn-danger" type="submit" value="Check out this visitor" />
    }
    <hr />
}
}


    </div>
</div>