@model List<Visitor>
@{
    ViewData["Title"] = "CurrentVisitorsView";
}

<div class="row">
    <div class="col-md-12">
        <div class="col-md-6">
            <div class="vertical-menu">
                <a href="@Url.Action("History", "Visitor")">
                    <span>History</span>
                </a>
                <a href="@Url.Action("CurrentVisitors", "Visitor")" class="active">
                    <span>Current Visitors</span>
                </a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
                <a href="#">Link 4</a>
            </div>
        </div>

        <div class="col-md-6">
            <p><b>Visitors checked in now</b></p>
            @foreach (Visitor visitor in Model)
            {
                if (visitor.CheckInTime > visitor.CheckOutTime)
                {
                    <hr />
                    <p asp-controller="Visitor" asp-action="History" asp-route-id="@visitor.Id"> @visitor.FirstName   @visitor.LastName   @visitor.RandomNumber  @visitor.CheckInTime</p>
                }
            }
            </div>

        </div>
</div>
