@model List<Visitor>
@{
    ViewData["Title"] = "CurrentVisitorsView";
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
}

<section class="hero">

        <div class="col-md-6" >
            <div class="vertical-menu">
                <nav class="nav">
                    <a href="@Url.Action("History", "Visitor")">
                        <span>History</span>
                    </a>
                    <a href="@Url.Action("CurrentVisitors", "Visitor")" class="active">
                        <span>Current Visitors</span>
                    </a>
                    <a href="@Url.Action("Index", "Visitor")">
                        <span>Check in visitor</span>
                    </a>
                    <a href="@Url.Action("Register", "Account")">
                        <span>Register new admin</span>
                    </a>
                    <a href="@Url.Action("LogOut", "Account")">Log Out</a>
                </nav>
            </div>
        </div>

        <div class="col-md-6" style="height:700px; overflow-y:scroll;">
            <h2>Visitors checked in now</h2>
            <br />

            @foreach (Visitor visitor in Model)
            {
                if (visitor.CheckInTime > visitor.CheckOutTime)
                {
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <p><b> Name: @visitor.FirstName @visitor.LastName</b></p>
                            <p><b> Id: @visitor.RandomNumber</b></p>
                            <p><b> Check In: @visitor.CheckInTime</b></p>
                        </div>
                        <div class="col-md-6">
                            <img src="~/visitorPhotos/@(visitor.RandomNumber).jpg" style="width: 200px" align="right" />
                        </div>
                    </div>
                    <br />
                    using (Html.BeginForm("CheckOut", "Visitor"))
                    {
                        <input type="hidden" name="RandomNumberInput" value="@visitor.RandomNumber" />
                        <input class="btn btn-xs btn-danger" style="width:auto" type="submit" value="Check out this visitor" />
                    }
                    <hr />
                }
            }
        </div>
</section>