@model List<Visitor>
@{
    ViewData["Title"] = "History";
}

<p><b>Visitor history</b></p>
@foreach (Visitor visitor in Model)
{
    if (visitor.CheckInTime < visitor.CheckOutTime)
    {
        <p>
            <p asp-controller="Visitor" asp-action="History" asp-route-id="@visitor.Id"> @visitor.FirstName   @visitor.LastName   @visitor.RandomNumber</p>
        </p>
    }
}

<p><b>Visitors checked in now</b></p>
@foreach (Visitor visitor in Model)
{
    if (visitor.CheckInTime > visitor.CheckOutTime)
    {
        <p>
            <p asp-controller="Visitor" asp-action="History" asp-route-id="@visitor.Id"> @visitor.FirstName   @visitor.LastName   @visitor.RandomNumber</p>
        </p>
    }
}

