@model List<Visitor>
@{
    ViewData["Title"] = "History";
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
}

<section class="hero">
    <div class="col-md-6">
        <div class="vertical-menu">
            <nav class="nav">
                <a href="@Url.Action("History", "Visitor")" class="active">
                    <span>History</span>
                </a>
                <a href="@Url.Action("CurrentVisitors", "Visitor")">
                    <span>Current Visitors</span>
                </a>
                <a href="@Url.Action("Index", "Visitor")">
                    <span>Check in visitor</span>
                </a>
                <a href="@Url.Action("Register", "Account")">
                    <span>Register new admin</span>
                </a>
                <a href="@Url.Action("LogOut", "Account")">Log Out</a>
            </nav>
        </div>
    </div>

    <div class="col-md-6">
        <h2>Visitor history</h2>
        <br />

        <div style="height:700px; overflow-y:scroll;">
            @foreach (Visitor visitor in Model)
            {
                if (visitor.CheckInTime < visitor.CheckOutTime)
                {
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <p><b> Name: @visitor.FirstName @visitor.LastName</b></p>
                            <p><b> Id: @visitor.RandomNumber</b></p>
                            <p><b> Check In: @visitor.CheckInTime</b></p>
                            <p><b> Check Out: @visitor.CheckOutTime</b></p>
                        </div>
                        <div class="col-md-6">
                            <img src="~/visitorPhotos/@(visitor.RandomNumber).jpg" style="width: 200px" align="right" />
                        </div>
                    </div>
                    <p style="opacity: 0"> Det här är en fuling</p>
                    <hr />
                }
            }
        </div>
    </div>
</section>
