@model JonTimExamen.RequestObjects.RegisterRequestObject

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
}

<section class="hero">
    <div class="col-md-6">
        <div class="vertical-menu">
            <nav class="nav">
                <a href="@Url.Action("History", "Visitor")">
                    <span>History</span>
                </a>
                <a href="@Url.Action("CurrentVisitors", "Visitor")">
                    <span>Current Visitors</span>
                </a>
                <a href="@Url.Action("Index", "Visitor")">
                    <span>Check in visitor</span>
                </a>
                <a href="@Url.Action("Register", "Account")" class="active">
                    <span>Register new admin</span>
                </a>
                <a href="@Url.Action("LogOut", "Account")">Log Out</a>
            </nav>
        </div>
    </div>

    <div class="col col-md-6" style="width: 400px;">
        <form asp-controller="Account" asp-action="Register" method="post">
            <h2>Register</h2>
            <br />
            <div class="form-group">
                <label asp-for="Username"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <input type="submit" class="btn btn-success" />
        </form>
    </div>
</section>